canvas {
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}
.chart{
    padding: 1em;
}
.chart-name{
    padding-bottom: 1em;
    border-bottom: 2px solid #ffcfa4;
}
.chart-title{
    padding: 0 1em;
}
.chart-subtitle{
    text-transform: capitalize;
    text-align: left;
    /* padding-left: 5em; */
    float: left;
}
.chart-deviceName{
    padding: 0 1em 0 3em;
}
.chevron{
    padding: 0.2em 0 0 0 ;
    cursor: pointer;
}
.resize-container {
    /* border-bottom: solid #ffcfa4;
    border-right: solid #ffcfa4 */
    /* height: 300px;
    width: 500px; */
}

.resizer {
    position:absolute;
    right:0;
    bottom:0;
    cursor:se-resize;
    margin:5px;
    border-bottom: solid #ffffff;
    border-right:  solid #ffffff;
    width: 16px;
    height: 16px;
  }
 
