.modal{
    display: block !important;
    overflow-y: scroll;
    
}
.inp {
    position: relative;
    margin: auto;
    width: 100%;
    max-width: 465px;
}
.inp .label {
    position: absolute;
    top: 16px;
    left: 0;
    font-size: 16px;
    color: #9098a9;
    font-weight: 500;
    transform-origin: 0 0;
    transition: all 0.2s ease;
}
.inp .border {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 2px;
    width: 100%;
    background: #fff;
    transform: scaleX(0);
    transform-origin: 0 0;
    transition: all 0.15s ease;
}
.inp input, select {
    -webkit-appearance: none;
    width: 100%;
    border: 0;
    font-family: inherit;
    padding: 12px 0;
    height: 48px;
    font-size: 16px;
    font-weight: 500;
    border-bottom: 2px solid #c8ccd4;
    background: none;
    border-radius: 0;
    color: #fff;
    transition: all 0.15s ease;
}
.inp input:hover, select:hover {
    background: rgba(34,50,84,0.03);
}

.inp input::placeholder {
    color: #a0a1a8;
}
.inp input:not(:placeholder-shown) + span, select:not(:placeholder-shown) + span{
    color: #c8ccd4;
    transform: translateY(-26px) scale(0.75);
}
.inp input:focus, select:focus {
    background: none;
    outline: none;
}
.inp input:focus + span, select:focus + span{
    color: #fff;
    transform: translateY(-26px) scale(0.75);
}
.inp input:focus + span + .border, select:focus + span + .border {
    transform: scaleX(1);
}
.modal-input-row{
    padding:10px 0; 
}
.modal-content{
    background: #46495a;
}
.modal-header{
    border-bottom: 2px solid #ffcfa4;
}
.modal-footer{
    border-top: none;
}
.close{
    color: #fff;
}
.close:hover{
    color: #fff;
}
.hidden{
    display: none;
}
.checkbox{
    padding: 0.5em;
    text-align: center;
    text-transform: capitalize;
}
.checkbox .item{
    text-align: left;
}
.remove-block-button{
    text-align: right;
    padding: 0.5em 2em 0 0 ;
}
.block {
    padding: 1em;
}
.min-max-value-for-device {
    display: none;
}
  