.sensors, .profile {
    padding: 1em;
}
.wrapperProfile {
    background: linear-gradient(to right, #73767f, #5a5c68);
    border-radius: 10px;
    text-align: left;
    padding: 1em 2em;
}
.profile-name {
    padding-bottom: 1em;
    border-bottom: 2px solid #ffcfa4;
}
.profile-data {
    padding-top: 1em;
}
.profile-menegment-button{
    text-align: center;
    cursor: pointer;
}